<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Star Wars Explorer</title>

    <!-- Include bootstrap -->
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-warning pl-5">
    <a class="navbar-brand mx-sm-3" href="#"><b>Star Wars</b> Explorer</a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link text-primary" href="/"><b>Collections</b></a>
            </li>
        </ul>
    </div>
</nav>

<div class="form-group h2 my-sm-3 text-center">
    <span>{{ dataset_name }}</span>
</div>

{% if data %}
    <form class="form-group" action="/datasets/{{ dataset_id }}/aggregate" method="POST">
        {% csrf_token %}
        <div class="btn-group-toggle my-sm-3 text-center" data-toggle="buttons">
            {% for header in headers %}
                {% if aggregation_fields and header in aggregation_fields %}
                    <button name="{{ header }}" value="1" class="btn btn-secondary" type="submit">
                        {{ header }}
                    </button>
                {% else %}
                    <button name="{{ header }}" value="0" class="btn btn-outline-dark" type="submit">
                        {{ header }}
                    </button>
                {% endif %}
            {% endfor %}
            <input name="aggregation_fields" type="text" value="{{ aggregation_fields|join:',' }}" hidden="true">
        </div>
    </form>

    <table class="table table-striped table-light my-sm-3">
        {% for record in data %}
            {% if forloop.first %}
                <tr class="table-primary">
                    {% for header in record %}
                        <th class="px-3">{{ header }}</th>
                    {% endfor %}
                </tr>
            {% else %}
                <tr>
                    {% for column in record %}
                        <td class="px-3">{{ column }}</td>
                    {% endfor %}
                </tr>
            {% endif %}
        {% endfor %}
    </table>
{% endif %}

{% if load_more %}
    <form class="form-group" action="/datasets/{{ dataset_id }}" method="POST">
        {% csrf_token %}
        <div class="mx-sm-3 my-sm-3">
            <button class="fetch-button btn mx-sm-3 btn-secondary" type="submit">Load more</button>
            <input name="counter" type="text" value="{{ counter }}" hidden="true">
        </div>
    </form>
{% endif %}
</body>
</html>
