<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Star Wars Explorer</title>

    <!-- Include bootstrap -->
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-warning pl-5">
    <a class="navbar-brand mx-sm-3" href="#"><b>Star Wars</b> Explorer</a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link text-primary" href="/"><b>Collections</b></a>
            </li>
        </ul>
    </div>
</nav>

<form class="form-group row" action="/datasets/fetch" method="GET" onsubmit="disableFetchButton()">
    <div class="form-group h2 mx-sm-3 my-sm-3">
        <span>Collections</span>
        <button class="fetch-button btn mx-sm-3 btn-success" onclick="spinner()" type="submit">Fetch</button>
    </div>
    <span class="spinner-border text-success mx-sm-5" style="display: none;" role="status"></span>
</form>

<script type="text/javascript">
    // this script could be extracted to separate static JS file
    function spinner() {
        document.getElementsByClassName("spinner-border")[0].style.display = "inline";
    }

    function disableFetchButton() {
        document.getElementsByClassName("fetch-button")[0].disabled = true;
    }
</script>

{% if error %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
{% endif %}

{% if warning %}
    <div class="alert alert-warning" role="alert">
        {{ warning }}
    </div>
{% endif %}

{% if data %}
    <table class="table table-striped table-light my-sm-3">
        <tr class="table-primary">
            <th class="px-3">Name</th>
            <th class="px-3">Created At</th>
        </tr>
        {% for dataset in data %}
            <tr>
                <td class="px-3"><a href="/datasets/{{ dataset.pk }}">{{ dataset.name }}</a></td>
                <td class="px-3">{{ dataset.created_at }}</td>
            </tr>
        {% endfor %}
    </table>
{% endif %}

</body>
</html>